[Unit]
Description=kumiko
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/ts-node /home/bits/bits/src/index.ts
WorkingDirectory=/home/bits/bits/

[Install]
WantedBy=multi-user.target