[Unit]
Description=Kurier Delivery Service
Wants=network.target
Requires=postgresql.service
After=postgresql.service

[Service]
Type=simple
# ExecStartPre=/usr/bin/mkdir -p "${HOME}/uploads"
ExecStartPre=/usr/bin/listmonk --config /etc/listmonk/config.toml --upgrade --yes
ExecStart=/usr/bin/listmonk --config /etc/listmonk/config.toml --static-dir=/home/listmonk/static/
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target