[Unit]
Description=Minekuraft
After=network.target

[Service]
User=minecraft
Group=minecraft
Type=simple
WorkingDirectory=/home/minecraft/mine/
ExecStart=/usr/bin/java -XX:+UseG1GC -Xms2048M -Xmx4096M -jar /home/minecraft/mine/server.jar nogui
Restart=always
RestartSec=5
StandardInput=null

[Install]
WantedBy=multi-user.target