[Unit]
Description=Watchtower Service
After=network.target

[Service]
User=bits
Group=bits
WorkingDirectory=/home/bits/bits
Environment=PATH=/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin
ExecStartPre=/bin/bash -c '[ -s "/home/bits/.nvm/nvm.sh" ] && \. "/home/bits/.nvm/nvm.sh"'
ExecStart=/usr/local/bin/ts-node /home/bits/bits/services/watchtower.ts

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target